.bg-container {
  background-color: #1e293b;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 104px;
  margin: 0px;
}

.sub-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 54px;
}

.button {
  background-color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 600;
  padding: 10px;
  border-style: none;
  border-radius: 6px;
}
